<header>
    <img src="/images/background_header.svg" alt="" class="header-bg">
    <div class="container">
        <div class="header">
            <a href="/">
                <div class="logo">
                    <img src="/images/BURDO%20LOGO%201.png" alt="" class="logo_img">
                </div>
            </a>
            <div class="nav-panel-main">
                <ul class="nav-up">
                    <li>
                        <span class="nav-t n-mob_t">Узбекистан, Ташкент, Мирабадский <br>район, ул.Шахрисабз, 16a</span>
                        <a target="_blank" href="https://maps.app.goo.gl/v2bZ7RTffiLTuMyV8">
                            <img src="/images/location.png" alt="" class="icon-nav">
                        </a>
                    </li>
                    <li>
                        <span class="nav-t n-mob_t">Свяжитесь с нами <br> через мессенджеры</span>
                        <a target="_blank" href="{{info.telegram}}">
                            <img src="/images/logos_telegram.png" alt="" class="icon-nav">
                        </a>
                        <a target="_blank" href="https://www.whatsapp.com/">
                            <img src="/images/logos_whatsapp-icon.png" alt="" class="icon-nav">
                        </a>
                    </li>
                    <li>
                        <div class="nav-b rou">
                            <a href="tel:{{info.phone_1}}">
                                <span class="nav-l">{{info.phone_1}}</span>
                            </a>
                            <span class="nav-t mar_t pl-15">Заказать звонок</span>
                        </div>
                    </li>
                    <li class="nav-el ">
                        <div class="nav-b eclipse">
                            <span class="nav-t  mar_b pl-15">Электронная почта</span>
                            <a href="mailto:brtrade.uz@gmail.com" class="nav-l">brtrade.uz@gmail.com</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav-down">
                    <li class="under_categories"><span class="nav-t text-form ">Каталог техники</span></li>
                    <li class="under_categories_2"><a href="/catalog_spare_parts"><span class="nav-t text-form">Каталог запасных частей</span></a></li>
                    <li><a href="/about_us"><span class="nav-t text-form">о КОМПАНИИ</span></a></li>
                    <li><a href="/contact"><span class="nav-t text-form">КОНТАКТЫ</span></a></li>
                </ul>
            </div>
            <div class="btn_nav_panel"><img src="/images/Menu.png" alt=""></div>
        </div>
    </div>
    <div class="background_r-nav-menu">
        <ul class="r-nav-menu">
            <li class="r-nav">
                <button class="r-nav-title-btn add_block r-n-f_btn">
                    <p class="r-nav-title-text">КАТАЛОГ ТЕХНИКИ</p>
                    <div class="r-nav-icon_block">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512" class="r-nav-icon"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                    </div>
                </button>
                <div class="r-n-block_link">
                    {{#each tractor_categories}}
                      <a href="/catalog_tractors_models/{{this.id}}">
                        <p class="r-nav-text-link">{{this.name}}</p>
                      </a>
                    {{/each}}
                </div>
            </li>
            <li class="r-nav">
                <button class="r-nav-title-btn add_block r-n-t_btn">
                    <p class="r-nav-title-text">Каталог запасных частей</p>
                    <div  class="r-nav-icon_block">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512" class="r-nav-icon"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                    </div>
                </button>
                <div class="r-n-block_link">
                  {{#each spare_categories}}
                    <a href="/catalog_tractors_models/{{this.id}}">
                      <p class="r-nav-text-link">{{this.name}}</p>
                    </a>
                  {{/each}}
                </div>
            </li>
            <li class="r-nav">
                <a href="/about_us"><p class="r-nav-title-text">О КОМПАНИИ</p></a>
            </li>
            <li class="r-nav">
                <a href="/contact"><p class="r-nav-title-text">КОНТАКТЫ</p></a>
            </li>
        </ul>
    </div>
<!--    <div class="info_add_block">-->
<!--            <div class="info_soc">-->
<!--                <div class="info-icon_block">-->
<!--                    <div class="info_title">-->
<!--                        <p class="info_title_text">Онлайн чат</p>-->
<!--                    </div>-->
<!--                    <a href="" class="info_link">-->
<!--                        <img src="/images/sms.png" alt="" class="info_icon">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="info-icon_block">-->
<!--                    <div class="info_title">-->
<!--                        <p class="info_title_text">Звонок</p>-->
<!--                    </div>-->
<!--                    <a href="" class="info_link">-->
<!--                        <img src="/images/Group 3164.png" alt="" class="info_icon">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="info-icon_block">-->
<!--                    <div class="info_title">-->
<!--                        <p class="info_title_text">Telegram</p>-->
<!--                    </div>-->
<!--                    <a href="" class="info_link">-->
<!--                        <img src="/images/tg.png" alt="" class="info_icon">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="info-icon_block">-->
<!--                    <div class="info_title">-->
<!--                        <p class="info_title_text">WhatsApp</p>-->
<!--                    </div>-->
<!--                    <a href="" class="info_link">-->
<!--                        <img src="/images/wh.png" alt="" class="info_icon">-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="info_block">-->
<!--                <img src="/images/Union.png" alt="" class="info_img">-->
<!--            </div>-->
<!--        </div>-->
    <div class="container-nav">
        <div class="nav-left-panel">
            <ul class="nav-block1 pc_version_nav">
                <li class="title-nav-left"><p>Каталог техники</p></li>
                {{#each tractor_categories}}
                  <a href="/catalog_tractors_models/{{this.id}}" class="under_category_link">
                    <li class="nav-element-l stroke-nav">
                      <button class="nav-btn_item">
                        <span class="text-nav">{{this.name}}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512" class="icon-nav_item">
                          <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                        </svg>
                      </button>
                    </li>
                    <div class="under_categories_card">
                      <img src="{{this.src}}" alt="" class="category_img">
                      <span class="category_name">{{this.name}}</span>
                    </div>
                  </a>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="container-nav_part">
        <div class="nav-left-panel">
            <ul class="nav-block1 pc_version_nav">
                <li class="title-nav-left"><p>Каталог запасных частей</p></li>
              {{#each spare_categories}}
                <a href="/catalog_tractors_models/{{this.id}}" class="under_category_link">
                  <li class="nav-element-l stroke-nav">
                    <button class="nav-btn_item">
                      <span class="text-nav">{{this.name}}</span>
                      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512" class="icon-nav_item">
                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                      </svg>
                    </button>
                  </li>
                  <div class="under_categories_card">
                    <img src="{{this.src}}" alt="" class="category_img">
                    <span class="category_name">{{this.name}}</span>
                  </div>
                </a>
              {{/each}}
            </ul>
        </div>
    </div>
</header>
