<div class="container">
    <div class="link-title-pages">
        <a href="/"><p>Главная / </p></a>
        <a href="/catalog_tractors_models"><p>{{category.name}}</p></a>
    </div>
    <div class="catalog-area">
        <div class="catalog_title_block">
            <h2 class="s-c-title">{{category.name}}</h2>
            <div class="search-input-block">
                <input type="text" class="search-input" placeholder="Поиск">
                <button class="search-btn"><img src="/images/search-normal.png" alt="" class="search-btn_icon"></button>
            </div>
        </div>
        <div class="p-m-block">
            {{#each category.products}}
              <div class="p-m-card mar-30">
                <div class="p-m-card-img">
                  <img src="{{this.img}}" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                  <div class="">
                    <h4 class="p-m-title mar-15">{{this.name}}</h4>
                    {{#each this.main_chars}}
                        <div class="p-m-text-block">
                            <span class="p-m-key">{{this.key}}</span>
                            <span> - </span>
                            <span class="p-m-des">{{this.value}}</span>
                        </div>
                    {{/each}}
                  </div>
                  <a href="/property_tractors/{{this.id}}" class="mar-t-20">
                    <button class="p-m-btn">Подробнее</button>
                  </a>
                </div>
              </div>
            {{/each}}
        </div>
    </div>
</div>