<div class="container">
    <div class="link-title-pages">
        <a href="/"><p>Главная / </p></a>
        <a href="/catalog_tractors_models/{{category.id}}"><p>{{category.name}} / </p></a>
        <p>{{product.name}}</p>
    </div>
    <div class="property-area">
        <div class="p-fst-block">
            <div class="content_body">
                <div class="p-img-block">
                    <img src="{{product.img}}" alt="" class="p-img-item img-big-view">
                    <div class="p-img-set-t tab-var-set">
                        {{#if product.st_image}}
                            <img src="{{product.st_img}}" alt="" class="p-img-item-mini img-big-view">
                        {{/if}}
                        {{#if product.sd_image}}
                            <img src="{{product.sd_img}}" alt="" class="p-img-item-mini img-big-view">
                        {{/if}}
                        {{#if product.th_image}}
                            <img src="{{product.th_img}}" alt="" class="p-img-item-mini img-big-view">
                        {{/if}}
                    </div>
                </div>
                <div class="p-content-block">
                    <div class="p-text-content-b">
                        <h1 class="p-title mar-b-30 title-name">{{product.name}}</h1>
                        {{#each product.main_chars}}
                            <div class="p-text-block">
                                <span class="p-key">{{key}}</span>
                                <span>-</span>
                                <span class="p-des">{{value}}</span>
                            </div>
                        {{/each}}
                    </div>
                    <div class="">
                        <p class="p-link-property mar-b-32">Все характеристики</p>
                        <div class="p-btn-block">
                            <button class="p-btn-more-info">Узнать стоимость</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_footer">
                <div class="p-img-set-t">
                    {{#if product.st_image}}
                        <img src="{{product.st_img}}" alt="" class="p-img-item-mini img-big-view">
                    {{/if}}
                    {{#if product.sd_image}}
                        <img src="{{product.sd_img}}" alt="" class="p-img-item-mini img-big-view">
                    {{/if}}
                    {{#if product.th_image}}
                        <img src="{{product.th_img}}" alt="" class="p-img-item-mini img-big-view">
                    {{/if}}
                </div>
                <div class="p-c-card-block desktop_p-c-card-block">
                    <div class="p-c-card mar-r-20">
                        <h3 class="p-c-card-text"><span>Организуем</span> доставку</h3>
                        <img src="/images/track.png" alt="" class="p-c-card-img">
                    </div>
                    <div class="p-c-card mar-r-20">
                        <h3 class="p-c-card-text"><span>Самая низкая цена</span> на рынке</h3>
                        <img src="/images/sale.png" alt="" class="p-c-card-img">
                    </div>
                    <div class="p-c-card">
                        <h3 class="p-c-card-text"><span>100% Гарантия</span>  возврата денег</h3>
                        <img src="/images/coin.png" alt="" class="p-c-card-img">
                    </div>
                </div>
            </div>
        </div>
        <div class="p-c-card-block tablet_p-c-card-block">
            <div class="p-c-card mar-r-20">
                <h3 class="p-c-card-text"><span>Организуем</span> доставку</h3>
                <img src="/images/track.png" alt="" class="p-c-card-img">
            </div>
            <div class="p-c-card mar-r-20">
                <h3 class="p-c-card-text"><span>Самая низкая цена</span> на рынке</h3>
                <img src="/images/sale.png" alt="" class="p-c-card-img">
            </div>
            <div class="p-c-card">
                <h3 class="p-c-card-text"><span>100% Гарантия</span>  возврата денег</h3>
                <img src="/images/coin.png" alt="" class="p-c-card-img">
            </div>
        </div>
      {{#if product.is_tractor}}
        <div class="p-nav-panel des_tab_btn-p-nav-panel">
          <a class="p-nav-btn" data-type="general">Описание</a>
          {{#if product.chars}}
            {{#if product.chars.length}}
              <a class="p-nav-btn" data-type="characters">Характеристики</a>
            {{else}}
              {{#if product.trans}}
                {{#if product.trans.length}}
                  <a class="p-nav-btn" data-type="characters">Характеристики</a>
                {{/if}}
              {{/if}}
            {{/if}}
          {{else}}
            {{#if product.trans}}
              {{#if product.trans.length}}
                <a class="p-nav-btn" data-type="characters">Характеристики</a>
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if product.equipment}}
            {{#if product.equipment.length}}
              <a class="p-nav-btn" data-type="equipment">Комплектация</a>
            {{/if}}
          {{/if}}
          <a class="p-nav-btn" data-type="certs">Сертификаты</a>
        </div>
      {{/if}}
        <div class="property-block mar-b-30" data-container-type="general">
            {{#each s}}
              <p class="p-b-des-text">{{this}}</p>
            {{/each}}
        </div>
      {{#if product.chars}}
        {{#if product.chars.length}}
          <div class="property-block mar-b-30" data-container-type="characters">
            <ul>
              {{#each product.chars}}
                <li class="chapter_title p-letter">{{name}}</li>
                {{#each characters}}
                  <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">{{key}}</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap p-font_wight_des">{{value}}</span>
                  </li>
                {{/each}}
              {{/each}}
            </ul>
          </div>
        {{/if}}
      {{/if}}
      {{#if certs.length}}
        <div class="certificate-area-block" data-container-type="certs">
          <div class="certificate-area reset-mar">
            <div class="certificate-slider certificate-slider">
              <div class="swiper-wrapper">
                {{#each certs}}
                  <div class="cer-block swiper-slide">
                    <img src="{{src}}" alt="" class="cer-01-img">
                  </div>
                {{/each}}
              </div>
              <button class=" nav-btn  left-btn-n ">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="nav-icon-slider">
                  <path d="
                M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3
                0s12.5-32.8 0-45.3L77.3 256 214.6 118.6c12.5-12.5 12.5-32.8
                0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
              </button>
              <button class=" nav-btn  right-btn-n">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="nav-icon-slider">
                  <path d="
                M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8
                12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8
                0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
              </button>
              <div id="dots-container" class=" s-dot-block"></div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
</div>
{{#if certs.length}}
  <div class="ser_block">
    <div class="ser_container">
      <img src="" alt="" class="cer-big-img">
    </div>
  </div>
{{/if}}
<div class="modal_container">
    <div class="modal_block">
        <h1 class="modal_text_title">Оставьте заявку </h1>
        <p class="modal_text">Заполните пожалуйста форму и наши специлисты свяжутся с Вами чтобы сообщить стоимосить</p>
        <form class="modal_form_block" id="formElem">
            <input type="text" class="modal_form_input" name="name"  value="" placeholder="Ваше имя">
            <input type="text" class="modal_form_input" name="number" value="" placeholder="Ваш номер телефон">
            <input type="text" class="modal_form_input" name="email" value=""  placeholder="Ваш E-mail">
            <button type="submit" class="modal_btn">Отправить</button>
        </form>
        <p class="modal_text_p">Нажимая отправить вы соглашаетесь с условиями обработки персональных данных</p>
    </div>
</div>
<div class="modal_container_img">
    <img src="" alt="" class="img-big">
</div>
